<h3><%= t('view.teams') %></h3>

<%= form_with(model: Team.new, local: true) do |f| %>
  <%= f.text_field :name %>
  <%= f.hidden_field :leader_id, value: current_user.id %>
  <%= f.submit t('view.create_team'), class: 'btn btn-primary' %>
<% end %>

<table class='table-teams'>
  <thead>
    <tr>
      <th><%= t('team.name') %></th>
      <th><%= t('team.leader') %></th>
      <th><%= t('view.member') %></th>
    </tr>
  </thead>

  <tbody>
    <% @teams.each do |team| %>
    <tr>
      <td><%= link_to "#{team.name}", team_path(team) %></td>
      <td><span class='table-text'><%= team.leader.name %></span></td>
      <td>
      <% team.members.each do |user| %>
      <% next if user.name == team.leader.name %>
      <%= user.name %>, 
      <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>