<h3>Team #index</h3>

<%= form_with(model: Team.new, local: true) do |f| %>
  <%= f.text_field :name %>
  <%= f.hidden_field :leader_id, value: current_user.id %>
  <%= f.submit t('view.create_team'), class: 'btn btn-primary' %>
<% end %>

<table>
  <thead>
    <tr>
      <th>Team.name</th>
      <th>Leader</th>
      <th>Members</th>
    </tr>
  </thead>

  <tbody>
    <% @teams.each do |team| %>
    <tr>
      <td><%= link_to "#{team.name}", team_path(team) %>
      <td><%= team.leader.name %></td>
      <td>
      <% team.members.each do |user| %>
      <% next if user.name == team.leader.name %>
      <%= user.name %><br>
      <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>