<% provide(:button_name, 'create topic') %>
<h3><%= @team.name %></h3>

<div class='row'>
  <%# # show team leader and members %>
  <div class='col-6'>
    <table>
      <thead>
        <tr>
          <th>Role</th>
          <th>Name</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td>Leader:</td>
          <td><%= @team.leader.name %></td>
        </tr>
        <% @team.assigns.each do |assign| %>
          <%# # skip if leader == assign.user %>
          <% next if assign.user.name == @team.leader.name %>
        <tr>
          <td>Member:</td>
          <td><%= assign.user.name %></td>
          <td><%= button_to 'Drop', assign_path(assign), { method: :delete, params: { user_id: assign.user.id, team_id: @team.id }, class: 'btn btn-danger' } %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class='col-4'>
    <%# # Form to update team name %>
    <div>
    <%= form_with(model: @team, local: true) do |f| %>

      <%= f.text_field :name, class: 'form-control' %>
      <%= f.hidden_field :leader_id, value: @team.leader_id %>

      <%= f.submit 'name update', class: 'btn btn-primary' %>
    <% end %>
    </div>

    <%# # Form to invite new member %>
    <div>
    <%= form_with(model: Assign.new, local: true) do |f| %>

      <%= f.select :user_id, User.pluck(:name, :id), include_blank: 'Please select' %>
      <%= f.hidden_field :team_id, value: @team.id %>

      <%= f.submit 'invite', class: 'btn btn-primary' %>
    <% end %>
    </div>
  </div>
</div>

<%# # render topics and tasks table %>
<%= render 'team_contents' %>

<%# # render topic form to create new one %>
<%= render 'topics/form' %>

<%# # disband this team %>
<%= button_to 'Delete this team', team_path(@team), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>

