<h3><%= @team.name %></h3>

<p><%= t('view.login_user') %>: <%= current_user.name %></p>

<div class='row'>
  <%# # show team leader and members %>
  <div class='col-6'>
    <table>
      <thead>
        <tr>
          <th><%= t 'view.role' %></th>
          <th><%= t 'view.name' %></th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td><%= t 'view.leader' %>:</td>
          <td><%= @team.leader.name %></td>
        </tr>
        <% @team.assigns.each do |assign| %>
          <%# # skip if leader == assign.user %>
          <% next if assign.user.name == @team.leader.name %>
        <tr>
          <td><%= t 'view.member' %>:</td>
          <td><%= assign.user.name %></td>
          
          <%# # Drop button. Leader can push it %>
          <% if current_user == @team.leader %>
          <td><%= button_to t('view.drop'), assign_path(assign), { method: :delete, params: { user_id: assign.user.id, team_id: @team.id }, class: 'btn btn-danger', id: 'btn-negative' } %></td>
          <% end %>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class='col-4'>
    <%# # only leader can change team name, invite members, and disband team %>
    <% if current_user == @team.leader %>
      <%# # Form to update team name %>
      <div class='team-edit-form'>
      <p>チーム名変更</p>
      <%= form_with(model: @team, local: true) do |f| %>

        <%= f.text_field :name, class: 'form-control' %>
        <%= f.hidden_field :leader_id, value: @team.leader_id %>

        <%= f.submit t('view.update_name'), class: 'btn btn-primary', id: 'btn-positive' %>
      <% end %>
      </div>

      <%# # Form to invite new member %>
      <div class='member-invite-form'>
      <p>メンバー招待</p>
      <%= form_with(model: Assign.new, local: true) do |f| %>

        <%= f.select :user_id, User.pluck(:name, :id), include_blank: t('view.please_select') %>
        <%= f.hidden_field :team_id, value: @team.id %>

        <%= f.submit t('view.invite'), class: 'btn btn-primary', id: 'btn-positive' %>
      <% end %>
      </div>

      <%# # Button to disband this team %>
      <%# # can delete when this team has no topic %>
      <div class='team-disband-button'>
        <p>チーム解散</p>
        <%= button_to t('view.delete_team'), team_path(@team), method: :delete, data: { confirm: '本当にいいですか？' }, class: 'btn btn-danger', id: 'btn-negative' %>
      </div>
    <% end %>
  </div>
</div>

<%# # render topics and tasks table %>
<%= render 'team_contents' %>

<%# # render topic form to create new one %>
<%= render 'topics/form' %>
