<h2><%= t('view.bookmarked_tasks') %></h2>

<%= t('view.login_user') %>: <%= current_user.name %>

<table>
  <thead>
    <tr>
      <th><%= t('task.title') %></th>
      <th><%= t('task.priority') %></th>
      <th><%= t('task.deadline') %></th>
      <th><%= t('task.status') %></th>
      <th><%= t('view.bookmark') %></th>
    </tr>
  </thead>
  
  <tbody>
    <% @bookmarked_tasks.each do |task| %>
      <tr>
        <td><%= link_to "#{task.title}", task_path(task) %></td>
        <td><%= task.priority %></td>
        <td><%= task.deadline.strftime("%Y/%m/%d %H:%M") %></td>
        <td><%= task.status %></td>
        <%# # Bookmark buttons %>
        <td id='bookmark_button_<%= task.id %>'><%= render 'bookmarks/bookmark_buttons', task: task %></td>
      </tr>
    <% end %>
  </tbody>
</table>