<h2><%= t('view.bookmarked_tasks') %></h2>
<table>
  <thead>
    <tr>
      <th><%= t('task.title') %></th>
      <th><%= t('task.priority') %></th>
      <th><%= t('task.deadline') %></th>
      <th><%= t('task.status') %></th>
      <th><%= t('view.bookmark') %></th>
    </tr>
  </thead>
  
  <tbody>
    <% @bookmarked_tasks.each do |task| %>
      <tr>
        <td><%= link_to "#{task.title}", task_path(task) %></td>
        <td><%= task.priority %></td>
        <td><%= task.deadline.strftime("%Y/%m/%d %H:%M") %></td>
        <td><%= task.status %></td>
        <%# # only leader or task creater can delete the task %>
        <% if current_user.bookmark?(task) %>
          <td>
          <%= button_to bookmark_path(current_user.bookmarks.find_by(task_id: task.id)), { method: :delete } do %>
            <i class="fa-solid fa-square-check"></i>
          <% end %>
          </td>
        <% else %>
          <td>
          <%= button_to bookmarks_path(task_id: task.id) do %>
            <i class="fa-solid fa-square"></i>
          <% end %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>