<div class = 'row'>
<div class= 'col-7'>
<%= form_with(model: Task.new, local: true) do |f| %>
<%= render 'devise/shared/error_messages', resource: f.object %>

<%= f.label :title %>
<%= f.text_field :title %><br>

<%= f.label :description %>
<%= f.text_field :description %>

<%= f.label :priority %>
<%= f.select :priority, Task.priorities.keys.map { |key| [key, key] } %><br>

<%= f.label :deadline %>
<%= f.datetime_select :deadline %>

<%= f.label :status %>
<%= f.select :status, Task.statuses.keys.map { |key| [key, key] } %><br>

<%= f.hidden_field :team_id, value: @topic.team.id %>
<%= f.hidden_field :topic_id, value: @topic.id %>

<%= f.submit t('view.create_task'), class: 'btn btn-primary' %>
<% end %>
</div>
</div>