<h3><%= @task.title %></h3>

<%= t('view.login_user') %>: <%= current_user.name %><br>

<%= link_to t('view.edit_task'), edit_task_path(@task), class: 'btn btn-primary' %>

<div class='row'>
  <div class='col-5'>
  <%= t('view.created_by') %>: <%= @task.user.name %> / email: <%= @task.user.email %><br>
  <%= t('view.belong_to') %>: <%= link_to "#{@task.topic.title}", topic_path(@task.topic) %><br>
  <%= t('task.priority') %>: <%= @task.priority %><br>
  <%= t('task.deadline') %>: <%= @task.deadline.strftime("%Y/%m/%d %H:%M") %><br>
  <%= t('task.status') %>: <%= @task.status %><br>
  </div>
</div>

<div class='row'>
  <div class='col-8'>
  <%= t('task.description') %>: <%= @task.description %><br>
  </div>
</div>

<% if current_user == @task.user || current_user == @task.team.leader %>
  <td><%= button_to t('view.delete_task'), task_path(@task), { method: :delete, data: { confirm: '本当にいいですか？' }, class: 'btn btn-danger' } %>
<% end %>