<h3><%= @task.title %></h3>

<%= link_to t('view.edit_task'), edit_task_path(@task), class: 'btn btn-primary' %>

<div class='row'>
  <%= t('view.created_by') %>: <%= @task.user.name %> /
  email: <%= @task.user.email %><br>
  <%= t('task.priority') %>: <%= @task.priority %><br>
  <%= t('task.deadline') %>: <%= @task.deadline.strftime("%Y/%m/%d %H:%M") %><br>
  <%= t('task.status') %>: <%= @task.status %><br>
</div>

<div class='row'>
  <%= t('task.description') %>: <%= @task.description %><br>
</div>