<div class = 'row'>
<div class= 'col-7 topic-create-form'>
<%= form_with(model: @topic, local: true) do |f| %>
<%= render 'devise/shared/error_messages', resource: f.object %>

<%= f.label :title %>
<%= f.text_field :title, class: 'form-control' %><br>

<%= f.label :description %>
<%= f.text_area :description, class: 'form-control' %>

<%= f.label :priority %>
<%= f.select :priority, Topic.priorities.keys.map { |key| [key, key] } %><br>

<%= f.label :deadline %>
<%= f.datetime_select :deadline %><br>

<%= f.label :status %>
<%= f.select :status, Topic.statuses.keys.map { |key| [key, key] } %><br>

<%= f.hidden_field :team_id %>

<%= f.submit t('view.update_topic'), class: 'btn btn-primary', id: 'btn-positive' %>
<% end %>
</div>
</div>