<h3>Topic #show</h3>

<%= link_to 'Edit this topic', edit_topic_path(@topic) %><br>

<%= @topic.title %><br>
created_by <%= @topic.user.name %>
<%= @topic.user.email %><br>
<%= @topic.description %><br>
<%= @topic.priority %><br>
<%= @topic.deadline.strftime("%Y-%m-%d") %><br>
<%= @topic.status %><br>

<%= button_to 'Delete', topic_path(@topic), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
