<%# # task title search %>
<%= render 'search_task' %>

<table>
  <thead>
    <tr>
      <th><%= t('team.name') %></th>
      <th><%= t('topic.title') %></th>
      <th><%= t('topic.priority') %></th>
      <th><%= t('topic.deadline') %></th>
      <th><%= t('topic.status') %></th>
      <th><%= t('task.title') %></th>
      <th><%= sort_link(@q, :priority, t('task.priority')) %></th>
      <th><%= sort_link(@q, :deadline, t('task.deadline')) %></th>
      <th><%= sort_link(@q, :status, t('task.status')) %></th>
      <th><%= sort_link(@q, :created_at, t('task.created_at')) %></th>
      <th><%= t('view.bookmark') %></th>
    </tr>
  </thead>

  <tbody>
    <% @results.each do |task| %>
      <% team = task.topic.team %>
      <% topic = task.topic %>
      <tr>
        <td><%= link_to "#{team.name}", team_path(team) %></td>
        <td><%= link_to "#{topic.title}", topic_path(topic) %></td>
        <td><%= topic.priority %></td>
        <td><%= topic.deadline.strftime("%Y/%m/%d") %></td>
        <td><%= topic.status %></td>
        <td><%= link_to "#{task.title}", task_path(task), id: 'task_title' %></td>
        <td><%= task.priority %></td>
        <td><%= task.deadline.strftime("%Y/%m/%d") %></td>
        <td><%= task.status %></td>
        <td><%= task.created_at.strftime("%Y/%m/%d") %></td>
        <%# # bookmark buttons %>
        <td id='bookmark_button_<%= task.id %>'><%= render 'bookmarks/bookmark_buttons', task: task %></td>
      </tr>
    <% end %>
  </tbody>
</table>