<% if user_signed_in? %>
<h2><%= t('view.all_tasks') %></h2>

<%= t('view.login_user') %>: <%= current_user.name %>

<div class='row'>
  <div class='col-4 row-border'>
    <%= t('view.task_keeper') %><br>
    <%= t('user.name') %>: <%= @user.name %><br>
    <%= t('user.email') %>: <%= @user.email %>
  </div>
</div>

<%# # task title search %>
<% if @user == current_user %>
<%= render 'search_task' %>
<% end %>

<div class='row'>
  <div class='col'>
    <%= render 'user_contents' %>
  </div>
</div>

<% else %>
<% end %>
