<header class='navbar navbar-fixed-top navbar-inverse'>
  <div class='container'>
    <%= link_to 'TTT_Manager', root_path, id: 'logo-app' %>
    <nav>
      <ul class='nav'>
        <% if user_signed_in? %>
        <li><%= link_to t('view.users'), users_path %></li>
        <li><%= link_to t('view.teams'), teams_path %></li>
        <li><%= link_to t('view.bookmarks'), bookmarks_path %></li>
        <li><%= link_to t('view.edit_profile'), edit_user_registration_path %></li>
          <% if current_user.try(:admin?) %>
            <li><%= link_to t('view.admin'), rails_admin_path %>
          <% end %>
        <li><%= link_to t('view.log_out'), destroy_user_session_path, method: :delete %></li>
        <% else %>
          <li><%= link_to 'ゲストアドミンログイン', users_guest_sign_in_path, { method: :post, id: 'guest-admin-login' } %></li>
          <li><%= link_to 'ゲスト一般ログイン', users_guest_sign_in_as_normal_path, { method: :post, id: 'guest-normal-login' } %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>