<!DOCTYPE html>
<html>

<head>
  <title>TTTManager</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <script src="https://kit.fontawesome.com/dd7ef77390.js" crossorigin="anonymous"></script>
</head>

<body>
  <%= render 'layouts/header' %>
  <div class='container'>
    <%# <p class="notice"><%= notice </p> %>
    <%# <p class="alert"><%= alert </p> %>
    <% flash.each do |message_type, message| %>
    <% message_type = 'info' if message_type == 'notice' %>
    <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
    <% end %>
    <%= yield %>
  </div>
  <%= render 'layouts/footer' %>
</body>

</html>